#tbay-wc-tab-custom_tab {
	display: none! important;
}
.h1 .h2 .h3 .h4. .h5 { font-family: crimson;}
#tbay-header .header-main {
    background: #000;
}
#tbay-header .tbay-search-form .form-group .input-group { left: 5%;}
.product .product-block:not(.vertical).v7 span.onsale .saled, .product .product-block:not(.vertical).v7 span.onsale .featured {
    display: block;
    margin: 4px 0;
    display: none;
    position: relative;
    right: 65px;
    bottom: 20px;
}

.woocommerce-Price-amount {
    font-weight: 500;
    font-size: 15px;
    color: #ca0815;
    position: relative;
    left: 10px;
}
.product-block .price del .woocommerce-Price-amount {display:none;}


/*product short description* onsale*/
#main > div.display-products.products.products-list > div .woocommerce-product-details__short-description  {display: none;}

/*Related Product OG Price*/
.information .price del .woocommerce-Price-amount {display: none;}

.tbay-addon-content .price del .woocommerce-Price-amount {display: none;}


#main > div.vc_row.wpb_row.vc_row-fluid.vc_custom_1563160557352 > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div > div > div > div > div > div > div.block-inner > figure > a > span > span {display: none;}

#main > div.vc_row.wpb_row.vc_row-fluid.vc_custom_1563160592034 > div > div > div > div > div > div > div.owl-carousel.products.rows-1.slick-initialized.slick-slider > div > div > div > div > div > div > div.block-inner > figure > a > span > span {display: none;}

#main > div.vc_row.wpb_row.vc_row-fluid.vc_custom_1563160557352 > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div > div > div > div > div > div > div.block-inner > figure > a > span > span {display: none;}


#shop-now > button.single_add_to_cart_button.button.alt {  padding-left: 15px; padding-right: 15px;}

#shop-now > button.dokan-live-chat.button.alt {  padding-left: 15px; padding-right: 15px; margin-right: 2px; }
#slick-slide31 > div > div > div > div.block-inner > figure > a > span > span { display: none;}

#tbay-header > div.header-main.sticky-header.sticky-1 { padding-bottom:5px;padding-top:5px;}

#tbay-header > div.header-main.sticky-1 > div > div > div.header-search.col-md-6.col-xlg-7 > div > div > form > div > div > div.select-category.input-group-addon > div > p { background-color: #FCB913;}

#tbay-header > div.header-main.sticky-header.sticky-1 > div > div > div.header-right.col-md-4.col-xlg-3 > div.tbay-login > a > i {color: #FCB913;}
#dokan-content > div.display-products.products.products-grid > div > div.product.type-product.post-4581.status-publish.instock.product_cat-skin-solutions-cbd-premium-products-beauty.product_tag-cbd.product_tag-hair.has-post-thumbnail.sale.taxable.shipping-taxable.purchasable.product-type-simple > div > div > div.block-inner > figure > a > span > span { display: none;}

.b2g1f {
	color: white;
	background-color: green;
	width: 110px;
}

.giam50 {
	color: white;
	background-color: #ca0815;
	width: 110px;	
}



.giasoctrongngay .b2g1f {display:none;}

/*.sanphamdangsale .giam50 {display:none;}*/
.flashsale {
	bottom: 185px !important;
}


.product-block:not(.vertical).v7 span.onsale, .product-block:not(.vertical).list-v7 span.onsale { display: none;}

.shop4all {
	background-color: yellow;
	font-weight: bold;
}
#nav-category-menu > li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-8967.aligned-left > a {
	background-color: black;
	font-weight: bold;
	color: white;
}
#nav-category-menu > li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-8967.aligned-left > 	
	a:hover {
  color: #FCB913;
}



#tbay-header .tbay-vertical>li>a .text-label.label-hot { background-color: red;}

#menu-item-8386 .dropdown-menu >li a {color: black;}

.sanphamdangsale del .woocommerce-Price-amount {display: none;}

.sanphambanchaynhat del .woocommerce-Price-amount {display: none;}

.sanphamcbdcaocap del .woocommerce-Price-amount {display: none;}

.recommended del  .woocommerce-Price-amount  {display: none;}

.sanphambanchaynhat .date-title {display: none;}
.sanphambanchaynhat .time {display: none;}




.product-block:not(.vertical).v7 span.onsale, .product-block:not(.vertical).list-v7 span.onsale { display: none;};

.shop4all {
	background-color: yellow;
	font-weight: bold;
}
.flashsale {
	bottom: 185px !important;
}

.dokan-single-store .profile-frame .profile-info-box .profile-info-img { display: none;}

/*display gia soc trong ngay original price */
 /*
.price del .woocommerce-Price-amount {display: none;}
*/
.dichvudulich .caption {display: none;}
.dichvudulich .block-inner {display: none;}
span.quantity{
	position: relative;
	margin-left: 10px;} 

.woocommerce-product-details__short-description  {
visibility: gone;}


#main > div.display-products.products.products-list > div > div.product.type-product.post-4159.status-publish.last.instock.product_cat-cham-soc-suc-khoe.product_cat-gia-soc-trong-ngay.product_cat-nam-duoc-lieu-cao-cap.product_cat-tang-cuong-suc-de-khang.product_tag-bestseller.product_tag-onsale.has-post-thumbnail.sale.taxable.shipping-taxable.purchasable.product-type-simple > div > div > div.caption.col-xs-7.col-sm-8 > span > del > span > bdi { display: none;}

/*-------Doi Tac *---------*/
#main > div.vc_row.wpb_row.vc_row-fluid.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.vc_custom_1562308819205.wpb_start_animation.animated > div > div > div > div.vc_row.wpb_row.vc_inner.vc_row-fluid.vc_custom_1562051848564 > div > div > div > div > h2 {
font-size: larger;}  

#main > div.vc_row.wpb_row.vc_row-fluid.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.vc_custom_1562121294770.vc_row-has-fill.wpb_start_animation.animated > div > div > div > div.tbay-addon.tbay-addon-features.style-3 > div > div > div > div > div > h3 {color: red;
font-size: 24pt;}

/*-------Doi Tac *---------*/
/*Starting of mobile view------------*/
@media screen and (max-width: 600px) {

	.giam50 {
	background-color: #ca0815 ;
	width: 100px;
	color: white;
	position: relative;
	bottom: 180px;
}
.b2g1f {
	background-color: green;
	width: 100px;
	color: white;
	position: relative;
	bottom: 180px;
}
.sanphamcbdcaocap	.b2g1f {
	background-color: green;
	width: 100px;
	color: white;
	position: relative;
	font-size: smaller;
	bottom: 180px;
}
	
	/*san pham dang sale*/

	
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(7) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(7) .caption  {display:none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(8) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(8) .caption  {display:none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(9) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(9) .caption  {display:none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(10) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(10) .caption  {display:none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(11) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(11) .caption  {display:none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(12) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(12) .caption  {display:none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(13) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(13) .caption  {display:none;}
	
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(14) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(14) .caption  {display:none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(15) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(15) .caption  {display:none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(16) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(16) .caption  {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(17) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(17) .caption  {display:none;}#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(18) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(18) .caption  {display:none;}
	
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(19) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(19) .caption  {display:none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(20) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(20) .caption  {display:none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(21) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(21) .caption  {display:none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(22) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(22) .caption  {display:none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(23) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(23) .caption  {display:none;}
	
/* best seller */
	
	#main > div:nth-child(6) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(7) .block-inner {display: none;}
		#main > div:nth-child(6) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(7) .caption  {display:none;}
	#main > div:nth-child(6) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(8) .block-inner {display: none;}
		#main > div:nth-child(6) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(8) .caption  {display:none;}
	
	/*CBD Cao Cấp*/
	#main > div:nth-child(8) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(1) .block-inner {display: none;}
		/*CBD Cao Cấp*/
	#slick-slide46 > div > div > div {display: none;}
	#slick-slide47 > div > div > div {display: none;}
	#slick-slide48 > div > div > div {display: none;}
	#slick-slide49 > div > div > div {display: none;}
	
	/*Recommened For you*/
		#slick-slide66 > div > div > div {display: none;}
	#slick-slide67 > div > div > div {display: none;}
	#slick-slide68 > div > div > div {display: none;}
	#slick-slide69 > div > div > div {display: none;}

	#slick-slide610 > div > div > div {display: none;}
	#slick-slide611 > div > div > div {display: none;}
	#slick-slide612 > div > div > div {display: none;}
	#slick-slide613 > div > div > div {display: none;}

	
	/*fix view cart*/
	#main > div > form > div > div.col-md-8 > div.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents > div img {left: -75px;}
	
	
	/*spaces before Xem Them */
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(7) {display: none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(8) {display: none;}
		/*spaces before Xem Them */
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(9) {display: none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(10) {display: none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(11) {display: none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(12) {display: none;}
		/*spaces before Xem Them */
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(13) {display: none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(14) {display: none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(15) {display: none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(16) {display: none;}
		/*spaces before Xem Them */
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(17) {display: none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(18) {display: none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(19) {display: none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(20) {display: none;}
		/*spaces before Xem Them */
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(21) {display: none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(22) {display: none;}
	#main > div:nth-child(4) > div > div > div > div > a {font-weight: bold;
	color: black;}	
	
span.quantity{
	position: relative;
	margin-left: 10px;} 
	
	#main-mobile-menu-mmenu > div {display: none; }
#main-mobile-menu-mmenu .menu {
	position: relative;
	top: -35px;}
	#mobile-menu-second-mmenu .menu {
	position: relative;
	top: -35px;}
	#mobile-menu-second-mmenu > div {display: none;}
	/*end of mobile css*/

/*For tablet*-------*/
@media only screen and (min-width: 600px) and (max-width: 1000px)  {

	/*fix view cart*/
	#main > div > form > div > div.col-md-8 > div.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents > div img {left: -75px;}
		span.quantity{
	position: relative;
	margin-left: 10px;} 
}
