#tbay-wc-tab-custom_tab {
	display: none! important;
}
.h1 .h2 .h3 .h4. .h5 { font-family: crimson;}
#tbay-header .header-main {
    background: #000;
}
#tbay-header .tbay-search-form .form-group .input-group { left: 5% !important;}
.product .product-block:not(.vertical).v7 span.onsale .saled, .product .product-block:not(.vertical).v7 span.onsale .featured {
    display: block;
    margin: 4px 0;
    display: none;
    position: relative;
    right: 65px;
    bottom: 20px;
}

.woocommerce-Price-amount {
    font-weight: 500;
    font-size: 15px;
    color: #ca0815;
    position: relative;
    left: 10px;
}



/*product short description* onsale*/
#main > div.display-products.products.products-list > div .woocommerce-product-details__short-description  {display: none;}

/*Related Product OG Price*/
.information .price del .woocommerce-Price-amount {display: none;}


/*Related Product OG Price*/

#main > div.vc_row.wpb_row.vc_row-fluid.vc_custom_1563160557352 > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div > div > div > div > div > div > div.block-inner > figure > a > span > span {display: none;}

#main > div.vc_row.wpb_row.vc_row-fluid.vc_custom_1563160592034 > div > div > div > div > div > div > div.owl-carousel.products.rows-1.slick-initialized.slick-slider > div > div > div > div > div > div > div.block-inner > figure > a > span > span {display: none;}

#main > div.vc_row.wpb_row.vc_row-fluid.vc_custom_1563160557352 > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div > div > div > div > div > div > div.block-inner > figure > a > span > span {display: none;}


#shop-now > button.single_add_to_cart_button.button.alt {  padding-left: 15px; padding-right: 15px;}

#shop-now > button.dokan-live-chat.button.alt {  padding-left: 15px; padding-right: 15px; margin-right: 2px; }
#slick-slide31 > div > div > div > div.block-inner > figure > a > span > span { display: none;}

#tbay-header > div.header-main.sticky-header.sticky-1 { padding-bottom:5px;padding-top:5px;}

#tbay-header > div.header-main.sticky-1 > div > div > div.header-search.col-md-6.col-xlg-7 > div > div > form > div > div > div.select-category.input-group-addon > div > p { background-color: #FCB913;}

#tbay-header > div.header-main.sticky-header.sticky-1 > div > div > div.header-right.col-md-4.col-xlg-3 > div.tbay-login > a > i {color: #FCB913;}
#dokan-content > div.display-products.products.products-grid > div > div.product.type-product.post-4581.status-publish.instock.product_cat-skin-solutions-cbd-premium-products-beauty.product_tag-cbd.product_tag-hair.has-post-thumbnail.sale.taxable.shipping-taxable.purchasable.product-type-simple > div > div > div.block-inner > figure > a > span > span { display: none;}

.b2g1f {
	color: white;
	background-color: green;
	width: 110px;
}

.giam50 {
	color: white;
	background-color: #ca0815;
	width: 110px;	
}



.giasoctrongngay .b2g1f {display:none;}

/*.sanphamdangsale .giam50 {display:none;}*/
.flashsale {
	bottom: 185px !important;
}


.product-block:not(.vertical).v7 span.onsale, .product-block:not(.vertical).list-v7 span.onsale { display: none;}

.shop4all {
	background-color: yellow;
	font-weight: bold;
}
#nav-category-menu > li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-8967.aligned-left > a {
	background-color: black;
	font-weight: bold;
	color: white;
}
#nav-category-menu > li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-8967.aligned-left > 	
	a:hover {
  color: #FCB913;
}



#tbay-header .tbay-vertical>li>a .text-label.label-hot { background-color: red;}

#menu-item-8386 .dropdown-menu >li a {color: black;}

/*-------- Price Gia Soc trong ngay-----------*/
.giasoctrongngay del .woocommerce-Price-amount {display: unset !important;} 
/*--------------------*/
del .woocommerce-Price-amount {display: none;} 
.sanphamdangsale del .woocommerce-Price-amount {display: none;}

.sanphambanchaynhat del .woocommerce-Price-amount {display: none;}

.sanphamcbdcaocap del .woocommerce-Price-amount {display: none;}

.recommended del  .woocommerce-Price-amount  {display: none;}

.sanphambanchaynhat .date-title {display: none;}
.sanphambanchaynhat .time {display: none;}
.product-block:not(.vertical).v7 span.onsale, .product-block:not(.vertical).list-v7 span.onsale { display: none;};
.shop4all {
	background-color: yellow;
	font-weight: bold;
}
.flashsale {
	bottom: 185px !important;
}

.dokan-single-store .profile-frame .profile-info-box .profile-info-img { display: none;}

/*display gia soc trong ngay original price */
 /*
.price del .woocommerce-Price-amount {display: none;}
*/




.dichvudulich .caption {display: none;}
.dichvudulich .block-inner {display: none;}
span.quantity{
	position: relative;
	margin-left: 10px;} 

.woocommerce-product-details__short-description  {
visibility: gone;}


#main > div.display-products.products.products-list > div > div.product.type-product.post-4159.status-publish.last.instock.product_cat-cham-soc-suc-khoe.product_cat-gia-soc-trong-ngay.product_cat-nam-duoc-lieu-cao-cap.product_cat-tang-cuong-suc-de-khang.product_tag-bestseller.product_tag-onsale.has-post-thumbnail.sale.taxable.shipping-taxable.purchasable.product-type-simple > div > div > div.caption.col-xs-7.col-sm-8 > span > del > span > bdi { display: none;}

/*-------Doi Tac *---------*/
#main > div.vc_row.wpb_row.vc_row-fluid.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.vc_custom_1562308819205.wpb_start_animation.animated > div > div > div > div.vc_row.wpb_row.vc_inner.vc_row-fluid.vc_custom_1562051848564 > div > div > div > div > h2 {
font-size: larger;}  

#main > div.vc_row.wpb_row.vc_row-fluid.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.vc_custom_1562121294770.vc_row-has-fill.wpb_start_animation.animated > div > div > div > div.tbay-addon.tbay-addon-features.style-3 > div > div > div > div > div > h3 {color: #d33;
	margin-bottom: -0px !important;
font-size: 24pt;}

#main > div.vc_row.wpb_row.vc_row-fluid.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.vc_custom_1562121294770.vc_row-has-fill.wpb_start_animation.animated > div > div > div > div.tbay-addon.tbay-addon-features.style-3 > div > div > div > div > div > h3 {margin-top: -20px; font-size: 18pt;}
.tbay-addon-features.style-3 .description {font-size: 14px; padding-left:25px;
padding-right: 25px;}

/* Buoc*/
#main > div.vc_row.wpb_row.vc_row-fluid.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.vc_custom_1562308819205.wpb_start_animation.animated > div > div > div > div.vc_row.wpb_row.vc_inner.vc_row-fluid.vc_custom_1562051848564 > div > div > div > div > h2 {color: #000; font-size: 15pt; position: relative;top: 320px; margin-top:0px !important ; }



#main > div.vc_row.wpb_row.vc_row-fluid.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.vc_custom_1562308819205.wpb_start_animation.animated > div > div > div > div.vc_row.wpb_row.vc_inner.vc_row-fluid.vc_custom_1562051848564 {margin-top: -70px;}
#main-containter.containter.inner {padding: 0px;}

#main > div.vc_row.wpb_row.vc_row-fluid.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.vc_custom_1562308819205.wpb_start_animation.animated {padding-bottom: 0px;}


/*cac buoc*/
#main > div.vc_row.wpb_row.vc_row-fluid.dangkibanhangcung.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.vc_custom_1598303351056.wpb_start_animation.animated > div > div > div > div.vc_row.wpb_row.vc_inner.vc_row-fluid.vc_custom_1598303414393 > div > div > div > div > h2 {font-size: 16pt;position: relative; top: 320px;}
#main > div.vc_row.wpb_row.vc_row-fluid.dangkibanhangcung.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.vc_custom_1598303351056.wpb_start_animation.animated > div > div > div > div.wpb_text_column.wpb_content_element.center.font-16 > div > p {position: relative;
top: 70px;}
#main-container {padding-bottom: 50px;}

 *#main > div.vc_row.wpb_row.vc_row-fluid.dangkibanhang.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.vc_custom_1598312459995.wpb_start_animation.animated > div > div > div > div.vc_row.wpb_row.vc_inner.vc_row-fluid.vc_custom_1598303414393 > div > div > div > div > h2 {font-size:15pt;position: relative; top: 320px;}

#main > div.vc_row.wpb_row.vc_row-fluid.dangkibanhang.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.vc_custom_1598312459995.wpb_start_animation.animated > div > div > div > div.wpb_text_column.wpb_content_element.center.font-16 > div > p {position: relative;
padding-top: 60px;}

#main > div.vc_row.wpb_row.vc_row-fluid.dangkibanhang.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.vc_custom_1598312459995.wpb_start_animation.animated > div > div { padding-bottom: -50px;}
#main > div.vc_row.wpb_row.vc_row-fluid.dangkibanhang.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.vc_custom_1598312459995.wpb_start_animation.animated > div > div > div {background-color: #fff;}
>
.become_vendor_steps {background-color: #f5f5f5;}
.become-vendor #main-container {padding-bottom:50px !important;}

/*===Xem Them ===*/
	/*Xem Them */
	
	#main > div:nth-child(4) > div > div > div > div > a {
	color: black; font-weight: bold;}		#main > div:nth-child(5) > div > div > div > div > a {
	color: black; font-weight: bold;}	
	#main > div:nth-child(6) > div > div > div > div > a {
	color: black; font-weight: bold;}	
	#main > div:nth-child(7) > div > div > div > div > a {
	color: black; font-weight: bold;}	
	#main > div:nth-child(8) > div > div > div > div > a {
	color: black; font-weight: bold;}	
	
	#main > div:nth-child(9) > div > div > div > div > a {
	color: black; font-weight: bold;}
#main > div.vc_row.wpb_row.vc_row-fluid.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.vc_custom_1562121294770.vc_row-has-fill.wpb_start_animation.animated > div > div > div > div.tbay-addon.tbay-addon-features.style-3 > div > div > div > div { padding-bottom: 25px; padding-top: 15px;  text-align: justify; padding-left: 20px; padding-right: 20px;}
#main > div.vc_row.wpb_row.vc_row-fluid.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.vc_custom_1562121294770.vc_row-has-fill.wpb_start_animation.animated > div > div > div > div.tbay-addon.tbay-addon-features.style-3 > div > div > div> div > div > h3 {color: #d33; text-align: center !important; font-size: 15pt;}
/*-------Doi Tac *---------*/


/*---Bullet point ul-li fix--*/

.woocommerce-product-details__short-description > ul {list-style: disc inside;}

/*Footer*/

/*
#tbay-footer > div > div > div.vc_row.wpb_row.vc_row-fluid.vc_custom_1562751140853 > div.wpb_column.vc_column_container.vc_col-sm-4.vc_col-lg-3.vc_col-md-3 > div > div > div.wpb_text_column.wpb_content_element > div > ul > li:nth-child(1):before {content: '/'} 
*/

#tbay-footer > div > div > div.vc_row.wpb_row.vc_row-fluid.vc_custom_1562751140853 > div.wpb_column.vc_column_container.vc_col-sm-4.vc_col-lg-3.vc_col-md-3 > div > div > div.wpb_text_column.wpb_content_element > div > ul > li:nth-child(3) a { color: #888; }
#tbay-footer > div > div > div.vc_row.wpb_row.vc_row-fluid.vc_custom_1562751140853 > div.wpb_column.vc_column_container.vc_col-sm-4.vc_col-lg-3.vc_col-md-3 > div > div > div.wpb_text_column.wpb_content_element > div > ul > li:nth-child(4) > i.linear-icon-headphones{display: none;}
/*
#tbay-footer > div > div > div.vc_row.wpb_row.vc_row-fluid.vc_custom_1562751140853 > div.wpb_column.vc_column_container.vc_col-sm-4.vc_col-lg-3.vc_col-md-3 > div > div > div.wpb_text_column.wpb_content_element > div > ul > li:nth-child(3) a { font-family: poppins, sans-serif; }
*/
/* Dich vu */
.hang1 img { width: 269px;}
.hang2 img { width: 269px; padding-top: 20px;}


#media_image-2 > a > img {display: none;}



/*
background-image : url('https://i2.wp.com/vshop247.com/wp-content/uploads/2020/08/Hair-Revive-set.png?fit=600%2C600&ssl=1') !important;*/

/*Starting of mobile view------------*/
@media screen and (max-width: 600px) {

	.giam50 {
	background-color: #ca0815 ;
	width: 100px;
	color: white;
	position: relative;
	bottom: 180px;
}
.b2g1f {
	background-color: green;
	width: 100px;
	color: white;
	position: relative;
	bottom: 180px;
}
.sanphamcbdcaocap	.b2g1f {
	background-color: green;
	width: 100px;
	color: white;
	position: relative;
	font-size: smaller;
	bottom: 180px;
}
	
	
	
	/*san pham dang sale*/

	
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(7) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(7) .caption  {display:none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(8) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(8) .caption  {display:none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(9) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(9) .caption  {display:none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(10) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(10) .caption  {display:none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(11) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(11) .caption  {display:none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(12) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(12) .caption  {display:none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(13) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(13) .caption  {display:none;}
	
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(14) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(14) .caption  {display:none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(15) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(15) .caption  {display:none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(16) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(16) .caption  {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(17) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(17) .caption  {display:none;}#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(18) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(18) .caption  {display:none;}
	
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(19) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(19) .caption  {display:none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(20) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(20) .caption  {display:none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(21) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(21) .caption  {display:none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(22) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(22) .caption  {display:none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(23) .block-inner {display:none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(23) .caption  {display:none;}
	
/* best seller */
	
	#main > div:nth-child(6) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(7) .block-inner {display: none;}
		#main > div:nth-child(6) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(7) .caption  {display:none;}
	#main > div:nth-child(6) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(8) .block-inner {display: none;}
		#main > div:nth-child(6) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(8) .caption  {display:none;}
	
	/*CBD Cao Cấp*/
	#main > div:nth-child(8) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(1) .block-inner {display: none;}
		/*CBD Cao Cấp*/
	#slick-slide46 > div > div > div {display: none;}
	#slick-slide47 > div > div > div {display: none;}
	#slick-slide48 > div > div > div {display: none;}
	#slick-slide49 > div > div > div {display: none;}
	
	/*Recommened For you*/
		#slick-slide66 > div > div > div {display: none;}
	#slick-slide67 > div > div > div {display: none;}
	#slick-slide68 > div > div > div {display: none;}
	#slick-slide69 > div > div > div {display: none;}

	#slick-slide610 > div > div > div {display: none;}
	#slick-slide611 > div > div > div {display: none;}
	#slick-slide612 > div > div > div {display: none;}
	#slick-slide613 > div > div > div {display: none;}

	
	/*fix view cart*/
	#main > div > form > div > div.col-md-8 > div.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents > div img {left: -75px;}
	
	
	/*spaces before Xem Them */
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(7) {display: none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(8) {display: none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(9) {display: none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(10) {display: none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(11) {display: none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(12) {display: none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(13) {display: none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(14) {display: none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(15) {display: none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(16) {display: none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(17) {display: none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(18) {display: none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(19) {display: none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(20) {display: none;}
		#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(21) {display: none;}
	#main > div:nth-child(5) > div > div > div > div > div.tbay-addon-content.woocommerce > div > div > div:nth-child(22) {display: none;}
	
	
span.quantity{
	position: relative;
	margin-left: 10px;} 
	
	#main-mobile-menu-mmenu > div {display: none; }
#main-mobile-menu-mmenu .menu {
	position: relative;
	top: -35px;}
	#mobile-menu-second-mmenu .menu {
	position: relative;
	top: -35px;}
	#mobile-menu-second-mmenu > div {display: none;}
	
	
	/* mo trang web ban hang tren vshop247*/
#slider-2-slide-3-layer-1 {font-size: 17pt !important; font-weight: bold;}
	
	
	#main > div.vc_row.wpb_row.vc_row-fluid.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.vc_custom_1562121294770.vc_row-has-fill.wpb_start_animation.animated > div > div > div > div.tbay-addon.tbay-addon-features.style-3 > div > div > div> div > div > h3 {color: #d33; text-align: center !important; font-size: 12pt;}
	
	/*text*/
#main > div.vc_row.wpb_row.vc_row-fluid.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.vc_custom_1562121294770.vc_row-has-fill.wpb_start_animation.animated > div > div > div > div.tbay-addon.tbay-addon-features.style-3 > div > div > div> div > div > p {display: unset; }
	
	
	/*inner*/
	#main > div.vc_row.wpb_row.vc_row-fluid.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.vc_custom_1562121294770.vc_row-has-fill.wpb_start_animation.animated > div > div > div > div.tbay-addon.tbay-addon-features.style-3 > div > div > div > div { padding-bottom: 25px; padding-top: 15px;  text-align: justify; padding-left: 20px; padding-right: 20px;}

	/*
#main > div.vc_row.wpb_row.vc_row-fluid.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.vc_custom_1562121294770.vc_row-has-fill.wpb_start_animation.animated > div > div > div > div.tbay-addon.tbay-addon-features.style-3 > div > div > div > div {}
	*/
	
	/* Moi thac mac xin lien he*/
	#main > div.vc_row.wpb_row.vc_row-fluid.dangkibanhang.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.vc_custom_1598312459995.wpb_start_animation.animated > div > div > div > div.wpb_text_column.wpb_content_element.center.font-16 > div > p {font-size: 11pt; }
	
	
	/*image buoc 1 2 3 4*/
	#main > div.vc_row.wpb_row.vc_row-fluid.dangkibanhang.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.vc_custom_1598312459995.wpb_start_animation.animated > div > div > div > div.vc_row.wpb_row.vc_inner.vc_row-fluid.vc_custom_1598303414393 > div > div > div > div > figure > div > img {padding-bottom: 0px;}
	
	/* buoc 1 2 3 4*/
	#main > div.vc_row.wpb_row.vc_row-fluid.dangkibanhang.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.vc_custom_1598312459995.wpb_start_animation.animated > div > div > div > div.vc_row.wpb_row.vc_inner.vc_row-fluid.vc_custom_1598303414393 > div > div > div > div > h2 {display: unset !important;position: relative; top: 60px !important;  padding-left: 40%; color: white;}
	
/*tai sao hop tac cung vshop*/
	#main > div.vc_row.wpb_row.vc_row-fluid.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.vc_custom_1562121294770.vc_row-has-fill.wpb_start_animation.animated > div > div > div > div.tbay-addon.tbay-addon-text-heading > h3 > span {font-size: 15pt; font-weight: bold;}	
	/*Dang ki ban hang cung Vshop*/
	#main > div.vc_row.wpb_row.vc_row-fluid.dangkibanhang.wpb_animate_when_almost_visible.wpb_fadeInUp.fadeInUp.vc_custom_1598312459995.wpb_start_animation.animated > div > div > div > div.tbay-addon.tbay-addon-text-heading.dangkibanhangheading > h3 > span {font-size: 15pt; font-weight: bold;}
	
	
	
	/*Dich Vu Page*/
#main > div.vc_row.wpb_row.vc_row-fluid.hang1 > div > div > div > div > figure > a > img{ position:relative; left: 25%; }
	
	#main > div.vc_row.wpb_row.vc_row-fluid.hang2 > div > div > div > div > figure > a > img{ position:relative; left: 25%; }
	/*---temp--*/
#main > div.vc_row.wpb_row.vc_row-fluid.hang2 > div:nth-child(4) > div > div > div > figure > div > img {position:relative; left: 25%;}
	
	/*Comming soon page*/
/* Page not Found to Sap Ra mat*/
#main-content  > section >  h1  { color: transparent; text-indent:-220px !important;}

#main-content > section > div > p  {display: none;}

#main-content > section > h1:after {
	color: black !important;
	text-indent:  !important;
  content: "Sắp Ra Mắt";
	
	 
	 
}
	/*end of mobile css*/
}

/*For tablet/Laptop*-------*/
@media only screen and (min-width: 600px) and (max-width: 1200px)  {

	/*fix view cart*/
	#main > div > form > div > div.col-md-8 > div.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents > div img {left: -75px;}
		span.quantity{
	position: relative;
	margin-left: 10px;}

	
	#tbay-header > div.header-main > div > div > div.header-right.col-md-4.col-xlg-3 {width: 25% !important;}
	/*search bar*/
#tbay-header > div.header-main > div > div > div.header-search.col-md-6.col-xlg-7 > div > div > form > div {position: relative; left: 100px!important;}
	
	#tbay-header > div.header-main > div > div > div.header-logo.col-md-2 > div > a > img {margin-right: 50px !important;}
	/* Related Products*/
	#product-related > div > div > div > div > div.item.slick-slide > div > div > div > div.caption > span > del > span > bdi {display: none;}
	
	/*Recommended Products*/
	
	#product-4638 > div.upsells.tbay-addon.tbay-addon-products.products > div > div > div > div > div > div > div > div > div.caption > span > del > span > bdi {display: none;}
}

/*For Laptop*-------*/
@media only screen and (min-width: 1200px) and (max-width: 2000px)  {
	/*search bar*/
#tbay-header > div.header-main > div > div > div.header-search.col-md-6.col-xlg-7 > div > div > form > div {position: relative; left: 50px!important;}
	
	#tbay-header > div.header-main > div > div > div.header-logo.col-md-2 > div > a > img {margin-right: 50px !important; padding: 0px}
	
}
	/*testing */
.pswp__button .pswp__button--close button { 
display: unset; color: red;}
	
}
.pswp__button--close {color: red; display: unset;  }



/* Page not Found to Sap Ra mat*/
#main-content  > section >  h1  { color: transparent; text-indent:-480px ;}

#main-content > section > div > p  {display: none;}

#main-content > section > h1:after {
	color: black !important;
	text-indent:  !important;
  content: "Sắp Ra Mắt";
	font-family: comics;
	font-size: 45pt;
}


/*chatnow button*/
#dokan-content > div.dokan-store-tabs > ul > li:nth-child(4) > button {margin-left: 10px !important;}

